version: "3.8"

services:
  s3db:
    image: postgres:latest
    container_name: 68-s3-4G1B-database
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASS}"
      POSTGRES_DB: "${DATABASE_NAME}"
    ports:
      - "${DATABASE_PORT}:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: 68-s3-4G1B-pg_admin
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
    ports:
      - "${PGADMIN_PORT}:80"

  s3app:
    image: prawee/strapi
    container_name: 68-s3-4G1B-app
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_NAME: "${DATABASE_NAME}"
      DATABASE_HOST: "${DATABASE_HOST}"
      DATABASE_PORT: "${DATABASE_PORT}"
      DATABASE_USERNAME: "${DATABASE_USER}"
      DATABASE_PASSWORD: "${DATABASE_PASS}"
    ports:
      - "${APPLICATION_PORT}:1337"
